//materialize
@import "materialize";

//custom styles
body{
  overflow-y: hidden;
}

#breadcrumbContainer{
  height:60px;
}

#dataAreaContainer{
  height:90%;
  overflow-y: scroll;
}

.dataItemIconContainer{
  position: relative;
  width: 80px;
  height:80px;
  margin-bottom:3px;
}

.dataItemIcon{
  display: block;
  position: absolute;
  bottom: 7px;
  left:7px;
  width: 65px;
  height:65px;
}

.dataItemIconSelected{
  background: rgba(49,93,142,0.31);
}

.dataItemLabelSelected{
  color:white;
  background: #1B5D99;
}

.dataItemContainer{
  height: 130px;
}
.dataItemContainer label{
  padding-left:22px;
}

.operation{
  padding:10px 20px 10px 20px;
  background: white;
}

.operation a{
  width:70%;
}

.mediumVerticalPadding{
  padding-top: 15px;
  padding-bottom: 20px;
}

.mediumLowerPadding{
  padding-bottom:20px;
}

.zeroLeft{
  left:0px;
}

#breadcrumbContainer{
  line-height:56px;
  z-index: 1;
  position: relative;
}

#dataAreaContainer{
  background:#F9F9F9;
  padding-right: 0px;
}

#rightSideViewContainer{
  background:#F4F4F4;
  padding-top:20px;
  height:100%;
}
#subheader{
  width:100%;
  background:white;
  height:20px;
  margin-bottom:20px;
}

.subheaderItem{
  color:#4181B6;
}

.smallPaddingRight{
  padding-right:20px;
}

.underline{
  text-decoration: underline;
}

#deleteBoxHeader{
  background: #F9F9F9;
  box-shadow: 0px -1px 8px 0px rgba(0,0,0,0.50);
  position: relative;
  height: 38px;
}

#deleteBoxContent{
  padding: 25px 24px 25px 45px;
  height: 250px;
}
#deleteActionContainer{
  position: absolute;
  right:0px;
  bottom:0px;
}

#deleteCancel{
  left:40px;
}

#deleteCancel i{
  color:#ACACAC;
}

#deleteConfirmationMessage{
  left:85px;
  color:#3D3D3D;
  font-size: larger;
  font-weight: 300;

}

.dataItemIconForListView{
  width:25px;
  height:25px;
  margin-left:5px;
  margin-right:10px;
}

.dataItemNameInList{
  display: inline;
  position: absolute;
  top:4px;
}
.deleteListRow{
  margin-bottom:5px;
  position: relative;
}

.verticallyCenterAnchored{
  position: absolute;
  top:50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);

}