//materialize
@import "materialize";

$primary-color-variant:#2F3E4F;
$selection-label-color: #1B5D99;

//custom styles
body{
  overflow-y: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

.dataItemIconContainer{
  position: relative;
  width: 80px;
  height:80px;
  margin-bottom:3px;
}

.dataItemIcon{
  display: block;
  position: absolute;
  bottom: 7px;
  left:7px;
  width: 65px;
  height:65px;
}

.dataItemIconSelected{
  background: rgba(49,93,142,0.31);
}

.dataItemLabelSelected{
  color:white;
  background: $selection-label-color;
}

.dataItemContainer{
  height: 130px;
}
.dataItemContainer label{
  //padding-left:22px;
  padding:2px;
  font-size:1em;
}

.operation{
  padding:10px 20px 10px 20px;
  background: white;
}

.operation a{
  width:70%;
}

.mediumVerticalPadding{
  padding-top: 15px;
  padding-bottom: 20px;
}

.mediumTopLeftPad{
  padding-top:20px;
  padding-left:20px;
}

.mediumLowerPadding{
  padding-bottom:20px;
}

.zeroLeft{
  left:0px;
}

#breadcrumbContainer{
  line-height:56px;
  z-index: 1;
  position: absolute;
  height:60px;
  background-image: linear-gradient(-135deg, #28868F 0%, #2B4A75 100%);
  box-shadow: none;
}

#menuLink{
  //display: inline-block;
  padding-left: 10px;
}

#menuLink i{
  line-height: 56px;
}

#menuLink i:hover{
  color:white;
}

#menuCloseLink{
  position: absolute;
  right:15px;
  top:15px;
}

#mainDataContainer{
  height:100%;
  //overflow-y: scroll;
  //text-align: center;
  position: relative;
  background:#F9F9F9;
  padding-right: 0px;
  padding-top:60px;
  padding-left:0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  //background: red;//dev purposes
}

#rightSideViewContainer{
  background:#F4F4F4;
  padding-top:75px;
  padding-right:4px;
  height:100%;
  position:relative;
}

#toggleView{
  //background: $primary-color-variant;
  background-image: linear-gradient(135deg, #E93767 0%, #E8778E 100%);
  width:100%;
  height:50px;
  line-height:50px;
  position:absolute;
  bottom:0px;
  left:0px;
  font-size: x-large;

  span{
    color: #e8e8e8;
    position: absolute;
    left:50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  span:hover{
    color:white;
  }
}

#subheader{
  width:100%;
  background:white;
  height:20px;
  margin-bottom:1px;
  position: relative;
}

.subheaderItem{
  color:#4181B6;
}

#sortByMenu {
  position: absolute;
  top:100%;
  //right:50px;
  //width:140px;
  background-image: url('../images/sort-menu-box.svg');
  padding-top:20px;
  z-index: 1;
  text-align: left;
}

#sortByMenu ul li{
  line-height: 40px;
  padding-left: 40px;
  padding-right: 30px;
  margin-left:4px;
  position: relative;
}

#sortByMenu ul li:hover{
  background: #f4f4f4;
}

.selectedSortOption{
  //background: #A6A6A6;
  //-webkit-border-radius:100%;
  //-moz-border-radius:100%;
  //border-radius:100%;
  //width:4px;
  //height:4px;
  color:#A6A6A6;
  position: absolute;
  top:7px;
  left:10px;
}

.smallPaddingRight{
  padding-right:20px;
}

.smallPaddingLeft{
  padding-left:20px;
}

.smallTopMargin{
  margin-top:10px;
}

.tinyBottomMargin{
  margin-bottom:3px;
}

.tinyLeftMargin{
  margin-left:3px;
}

.underline{
  text-decoration: underline;
}

.floatRight{
  float:right;
}

.inline{
  display: inline;
}

.smallGapFromRight{
  position: absolute;
  right:15px;
}

.smallGapFromLeft{
  position: absolute;
  left:15px;
}


#deleteBoxHeader{
  background: #F9F9F9;
  box-shadow: 0px -1px 8px 0px rgba(0,0,0,0.50);
  position: relative;
  height: 38px;
}

#deleteBoxContent{
  padding: 25px 24px 25px 45px;
  height: 250px;
}
#deleteActionContainer{
  position: absolute;
  right:0px;
  bottom:0px;
}

#deleteCancel{
  left:40px;
}

#deleteCancel i{
  color:#ACACAC;
}

#deleteConfirmationMessage{
  left:85px;
  color:#3D3D3D;
  font-size: larger;
  font-weight: 300;

}

.dataItemIconForListView{
  width:25px;
  height:25px;
  margin-left:5px;
  margin-right:10px;
}

.dataItemNameInList{
  display: inline;
  position: absolute;
  top:4px;
}
.deleteListRow{
  margin-bottom:5px;
  position: relative;
}

.verticallyCenterAnchored{
  position: absolute;
  top:50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

#mainMenu{
  position: absolute;
  top: 0;
  left:0;
  z-index:3;
  height:100%;
  width:100%;
  background-image: linear-gradient(45deg, #1c8262 0%, #00336d 100%);
  color:white;
}

#menuDarkOverlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  left: 0;
  top: 0;
  z-index: 2
}

.scaleUpOnHover{
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.scaleUpOnHover:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

#scanTargetListContainer{
  position:relative;
  top:70px;
  //padding-left:20px;
}

.scanTargetContainer{
  //width:90%;
  //background:magenta;
  //box-shadow: 0px 0px 5px #272727;
  margin-bottom:30px;
}

.scanCompleted{
  background:#4f8680;
  -webkit-transition: box-shadow 0.2s ease-out;
  -moz-transition: box-shadow 0.2s ease-out;
  -ms-transition: box-shadow 0.2s ease-out;
  -o-transition: box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out;
}

.scanCompleted:hover{
  box-shadow: 0px 0px 5px #272727;
  cursor:pointer;
}

.scanTargetIcon{
  width:65px;
  height:75px;
}

.scanTargetName{
  padding-top:3px;
  font-size: large;
  margin-bottom:1px;
}

#bottomOptions{
  position:absolute;
  bottom:0px;
  width:100%;
  height:50px;
  -webkit-box-shadow: 0px -11px 68px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -11px 68px -15px rgba(0,0,0,0.75);
  box-shadow: 0px -11px 68px -15px rgba(0,0,0,0.75);
}

.mainMenuActionButton{
  cursor:pointer;
  background: #ab2d64;
  text-align: center;
  color:white;
  //line-height:30px;
  display:inline;
  width:90px;
  padding:7px 20px 5px 20px;

  -webkit-transition: box-shadow 0.2s ease-out;
  -moz-transition: box-shadow 0.2s ease-out;
  -ms-transition: box-shadow 0.2s ease-out;
  -o-transition: box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out;
}

.mainMenuActionButton:hover{
  box-shadow: 0px 5px 10px #272727;
}

.clickable{
  cursor:pointer;
}

.scanDropDown{
  width:30px;
  margin-left:4px;
  padding:7px 5px 5px 5px;
}

.scanDropDown i{
  position: relative;
  top:5px;
}

.menuLoaderBackground{
  height:10px;
  width:100%;
  background: #ECF0F1;
  position: relative;
}
.diskCapacity{
  height:100%;
  background:lightgreen;
  width: 40%;
}

#scanFolder{
  position: absolute;
  left:15px;
  top:9px;
  width:120px;
}

#feedbackContainer{
  position:absolute;

  //bottom:-8px;
  background-image: url('../images/feedback-box.svg');
  width:400px;
  height:200px;
  padding:15px 10px 10px 10px;
  -webkit-background-size:100% 100%;
  background-size:100% 100%;
}

#feedbackCloseLink{
  position: absolute;
  right:15px;
  top:10px;
}

.variantColor{
  background:$primary-color-variant;
}

#sunburst{
  position: relative;
}

.usageLegendForHeader{
  width:17px;
  height:17px;
  border-radius:50%;
  display: inline-block;
  background:#40ffce;
}

.usageLegendForDetail{
  width:12px;
  height:12px;
  border-radius:50%;
  display: inline-block;
  background: #ffc6db;
  margin-right:8px;
}

.usageDetailItem:hover{
  background: #e1e1e1;
}

.usageDetailMoreItems{
  background: #828282;
  color: white;
  cursor: pointer;
}

.usageDetailMoreItems:hover{
  background: rgb(221, 92, 129);
}

.selectedUsageDetail{
  background:$selection-label-color;
  color:white;
}

.selectedUsageDetail:hover{
  background: #5898ff;
  color:white;
}

.usageDetailItem .usageDetailName{
  width:50%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#usageListContainer{
  height:80%;
  overflow-y: scroll;
}

.relativePosition{
  position: relative;
}

.absolutePosition{
  position: absolute;
}

#sunburstComponent{
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#usageDetailComponent{
  position: absolute;
  width: 92%;
}

#selectionRect{
  position: absolute;
  width:0px;
  height:0px;
  top:0px;
  left:0px;
  visibility: hidden;
  background: rgba(37, 102, 255, 0.23);
  border:1px solid blue;
}

#dataAreaContainer{
  overflow-y: scroll;
  height:100%;
  padding-top:18px;
}

.progress{
  position: absolute;
  bottom:0px;
  margin:0px;
  background-color: transparent;
}

.displayElementPath:hover{
  fill-opacity:0.5;
}

@media only screen and (min-width: 993px){
  #toast-container{
    bottom:3%;
    left:3%;
    top:initial;
    right:initial;
  }
}


#breadcrumbContainerStrip{
  white-space: nowrap;

  //height already mentioned in the parent of this,
  //but mentioned here also for the sake of mouseleave event
  height:60px;
}

.breadcrumbItemContainer{
  height:60px;
  line-height:60px;
  display:inline-block;
  cursor: pointer;
  overflow: hidden;
  color: #e6e6e6;
}

//this will work only on the child of breadcrumbItemContainer because
//there are inline styles attached in the template for breadcrumbItemContainer
//which are procedurally computed
.breadcrumbItem:hover{
  color: #f7f6f6;
}

//only using this here for specificity reasons
@media only screen and (min-width: 601px){
  nav .nav-wrapper .breadcrumbItemContainer i{
    display: inline-block;
    line-height:60px;
    vertical-align: middle;
    margin:0px 0px 0px 4px;
    font-size:2em;
  }
}

.breadcrumbItem{
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;

  &:before {
    content: '\E5CC';
    color: rgba(255,255,255, .7);
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    margin: 0 0px 0 4px;
    -webkit-font-smoothing: antialiased;
  }
}