//materialize
@import "materialize";

//custom styles
body{
  overflow-y: hidden;
}

#breadcrumbContainer{
  height:60px;
}

#dataAreaContainer{
  height:90%;
  overflow-y: scroll;
}

.dataItemIcon{
  display: block;
  width: 65px;
  height:65px;
}

.dataItemContainer{
  height: 130px;
}
.dataItemContainer label{
  padding-left:22px;
}