<div class="row" id="feedbackContainer" @feedbackState="getFeedbackState()">

    <div class="s12 col input-field smallTopMargin">
        <textarea id="feedbackMessage" class="black-text materialize-textarea" [(ngModel)]="message"></textarea>
        <label for="feedbackMessage">How was your experience</label>
    </div>
    <div class="s2 offset-s9 col">
        <a class="mainMenuActionButton variantColor" (click)="send()">Send</a>
    </div>
    <a id="feedbackCloseLink"
       (click)="closeFeedbackForm()"
       class="clickable"
    ><i class="scaleUpOnHover grey-text small material-icons">close</i>
    </a>
</div>