<nav>
    <div class="nav-wrapper">
        <span class="col s12">
            <a class="btn-floating btn-med waves-effect waves-light red" (click)="openRoot()">
                <i class="material-icons">add</i>
            </a>
            <a *ngFor="#context of contextStack" href="#!" class="breadcrumb" (click)="backTo(context)">
                <span *ngIf="!context.parentFolder">
                    Root
                </span>
                <span *ngIf="context.parentFolder">
                    {{context.parentFolder.name}}
                </span>
            </a>
            </span>
    </div>
</nav>
<folder-context *ngIf="contextStack[contextStack.length-1]" [context]="contextStack[contextStack.length-1]" (opendataitem)="openDataItem($event)">Loading...</folder-context>