
<div class="row" (mousedown)="closeSortByMenu()">
    <div class="col s9"
         id="mainDataContainer"
         #mainDataContainer
         >



            <sunburst id="sunburstComponent" @sunburstToggle="toggleStatus.getState()" [toggleStatus]="toggleStatus" [scanResult]="_scanTargets[0].rootScanResult"></sunburst>
            <data-area @dataAreaToggle="toggleStatus.getState()"
                       [toggleStatus]="toggleStatus"
                       [dataItems]="context.dataItems"
                       [dummyFolder]="context.dummyFolder"
                       (opendataitem)="openDataItem($event)"
                       (deselectall)="context.setSelectionForAll(false)"></data-area>

        <!--<div style="background:orange;-->
            <!--position: absolute;-->
            <!--top:0;-->
            <!--left:0;-->
            <!--width:100%;-->
            <!--height:100%;-->
            <!--"-->
             <!---->
        <!--&gt;</div>-->

    </div>
    <div class="col s3" id="rightSideViewContainer">
        <usageDetail id="usageDetailComponent" @sunburstToggle="toggleStatus.getState()" [toggleStatus]="toggleStatus" [scanResult]="_scanTargets[0].rootScanResult"></usageDetail>
        <operation @dataAreaToggle="toggleStatus.getState()" [dummyFolder]="context.dummyFolder" [toggleStatus]="toggleStatus"
                   (move)="moveToLocation($event)"
                   (reviewDelete)="confirmDeletingFiles()"
                   (rename)="renameFiles($event)"
                   (group)="groupInFolder($event)"></operation>
        <info-box *ngIf="organizeFolder" ></info-box>

        <a id="toggleView" class="btn" (click)="toggleView()">
            <span @analyzeLabelToggle="toggleStatus.getState()">Analyze</span>
            <span @organizeLabelToggle="toggleStatus.getState()">Organize</span>
        </a>
    </div>
</div>
<deletion [dataItems]="context.dataItems" (trash)="moveToTrash()" (hardDelete)="deletePermenantly()"></deletion>
<operation-progress [toggleStatus]="toggleStatus" (removeFromContext)="removeFromContext($event)"></operation-progress>
