<div style="{ display: inline-block;}">
    <div *ngIf="dataItem.isDirectory">
        <div>
            <img src="images/folder.svg" (dblclick)="openDataItem(dataItem)"/>
            <input [attr.id]="dataItem.name" [(ngModel)]="dataItem.selected" type="checkbox">
            <label [attr.for]="dataItem.name">{{dataItem.name|slice:0:9}}</label>
        </div>
    </div>
    <div *ngIf="!dataItem.isDirectory">
        <div>
            <img src="images/file.svg" (dblclick)="openDataItem(dataItem)"/>
            <input [attr.id]="dataItem.name" [(ngModel)]="dataItem.selected" type="checkbox">
            <label [attr.for]="dataItem.name">{{dataItem.name|slice:0:9}}</label>
        </div>
    </div>

</div>
