<!-- Modal Structure -->
<div id="confirmDeleteModal" class="modal bottom-sheet">

    <div class="row">
        <div class="s4 col">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
        <div class="s4 col">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" (click)="trashSelectedFiles()">Move to trash</a>
        </div>
        <div class="s4 col">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" (click)="hardDeleteSelectedFiles()">Delete Permanently</a>
        </div>
    </div>
    <div class="modal-content">
        <div *ngFor="let dataItem of dataItems" >
            <div class="row" *ngIf="dataItem.selected">
                <div class="col s12">
                    <input type="checkbox" [attr.id]="dataItem.name|prefixRemoveSpace:'delete'" [(ngModel)]="dataItem.selected"/>
                    <label [attr.for]="dataItem.name|prefixRemoveSpace:'delete'">{{dataItem.name}}</label>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="modal-footer">-->

        <!--<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>-->
    <!--</div>-->
</div>