
<div style="">
    <div id="mainMenu" style="position: absolute;
    top: 0;
    left:0;
    z-index:3;
    height:100%;
    width:30%;
    ">

        <div style="position: absolute;left:0;top:0;width:100%;height: 100%;background:navajowhite">

            <a class="btn"  onclick="closeMainMenu()"><i class="material-icons">close</i></a>
            <ul>
                <li *ngFor="let scanTarget of scanTargets">
                    {{ scanTarget.name }}
                </li>
            </ul>
            <a class="btn" (click)="openFolderForScan()">Scan folder</a>
            <a class="btn" (click)="openFeedbackForm()"><i class="material-icons">comment</i></a>
            <feedback></feedback>
        </div>
    </div>
    <div id="menuDarkOverlay" style="position: absolute;width: 100%;height:100%;background: rgba(0, 0, 0, 0.35);left: 0;top: 0;z-index:2">
        &nbsp;
    </div>

</div>

