<ul class="collapsible popout" data-collapsible="accordion">
    <li>
        <div class="collapsible-header">Rename</div>
        <div class="collapsible-body center-align">
            <p>Change the name of selected files to</p>
            <input type="text" placeholder="New Name" [(ngModel)]="newName"/>
            <a class="waves-effect waves-light btn" (click)="rename()">Rename</a>
        </div>
    </li>
    <li>
        <div class="collapsible-header">Group</div>
        <div class="collapsible-body center-align">
            <p>Group the selected files in a folder named:</p>
            <input type="text" placeholder="Folder Name" [(ngModel)]="dummyFolder.name"/>
            <a class="waves-effect waves-light btn" (click)="group()">Group</a>
        </div>
    </li>
    <li>
        <div class="collapsible-header">Move</div>
        <div class="collapsible-body center-align">
            <p>Move the selected files to a new location:</p>
            <a class="waves-effect waves-light btn" (click)="move(true)">Move</a>
            <a class="waves-effect waves-light btn" (click)="move(false)">Copy</a>
        </div>
    </li>
    <li>
        <div class="collapsible-header">Delete</div>
        <div class="collapsible-body center-align">
            <p>Delete the selected files</p>
            <a class="waves-effect waves-light btn" (click)="reviewDelete()">Delete</a>
        </div>
    </li>
    <li>
        <div class="collapsible-header">Cloud</div>
        <div class="collapsible-body center-align">
            <p>Move the selected files to the cloud</p>
            <a class="waves-effect waves-light btn">Cloud</a>
        </div>
    </li>
</ul>