<div *ngIf="scanTarget!=null">
    <div class="usageLegendForHeader" @legendToggle="toggleStatus.getState()"></div>
<h5 class="relativePosition inline" @usageHeaderToggle="toggleStatus.getState()">
        {{scanTarget.folderStack[scanTarget.folderStack.length-1].name}}
        <span class="right" @sizeToggle="toggleStatus.getState()">{{scanTarget.folderStack[scanTarget.folderStack.length-1].size|unitSpace}}</span>
</h5>
<ul @usageDetailListToggle="toggleStatus.getState()" class="tinyLeftMargin relativePosition">
    <li class="usageDetailItem"
        *ngFor="let child of scanTarget.folderStack[scanTarget.folderStack.length-1].children"
        [class.selectedUsageDetail]="child.selected"
        (click)="selectChild(child,$event)"
        (dblclick)="openUsage(child)"
    >
        <div class="usageLegendForDetail" @legendToggle="toggleStatus.getState()"></div>
        <div class="usageDetailName">{{ child.name|slice:0:13}}</div>
        <span class="right">{{child.size|unitSpace}}</span>
    </li>
</ul>
</div>