<div class="usageLegendForHeader" @legendToggle="toggleStatus.getState()"></div>
<h5 class="relativePosition inline" @usageHeaderToggle="toggleStatus.getState()">
        {{root.name}}
        <span class="right" @sizeToggle="toggleStatus.getState()">{{root.size|unitSpace}}</span>
</h5>
<ul @usageDetailListToggle="toggleStatus.getState()" class="tinyLeftMargin relativePosition">
    <li class="usageDetailItem" *ngFor="let child of root.children">
        <div class="usageLegendForDetail" @legendToggle="toggleStatus.getState()"></div>
        <div class="usageDetailName">{{ child.name|slice:0:13}}</div>
        <span class="right">{{child.size|unitSpace}}</span>
    </li>
</ul>